/* General styles */

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    color: #4193B2;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

/* Specific styles */
/* #4a4e4d • #12919D • #3da4ab • #f6cd61 • #fe8a71 */


header {
    width: 200px;
    height: 100%;
    position: fixed;
    background: #222725;
    color: #ffffff;
}
    header .logo {
        display: block;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
        padding: 20px 0 20px 0;
        font-size: 140%;
        font-family: 'Roboto', sans-serif;
    }
    header nav {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    header nav h2 {
        text-transform: uppercase;
        font-size: 70%;
        color: rgba(255, 255, 255, 0.5);
        padding: 0 10px 6px 10px;
        margin: 25px 0 0 0;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
        box-shadow: 0 11px 0 -10px rgba(255, 255, 255, 0.1);
    }
    header nav a {
        display: block;
        line-height: 200%;
        text-align: left;
        color: #ffffff;
        font-size: 90%;
        padding: 3px 10px 2px 10px;
        margin: 0;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
        border-right: 5px solid transparent;
        box-shadow: 0 11px 0 -10px rgba(255, 255, 255, 0.1);
    }
    header nav a.selected {
        background: white;
        color: #222725;
        font-weight: bold;
        box-shadow: none;
    }
    header nav a:hover {
        /*background: rgba(255, 255, 255, 0.1);*/
        border-right: 5px solid white;
        /*font-weight: bold;*/
    }

.content {
    max-width: 1000px;
    margin: 0 0 0 200px;
    padding: 20px;
}

h1 {
    background: #12919D;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 15px;
    margin: 0 0 30px 0;
    border-radius: 3px;
}
    h1 small {
        font-size: 50%;
        color: rgba(255, 255, 255, 0.6);
        margin: 0 0 0 0.5em;
    }

nav.sub {
    width: 100%;
    box-sizing: border-box;
    background: #3da4ab;
    border-radius: 3px;
    height: 36px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 7px;
    margin: 0 0 20px 0;
    overflow: none;
}
    h1 + nav.sub {
        margin-top: -33px;
        border-radius: 0 0 3px 3px;
    }
    nav.sub a {
        color: rgba(255, 255, 255, 0.7);
        float: left;
        padding: 0px 8px;
        margin: 3px 10px 0 0;
        border-radius: 3px;
    }
    nav.sub a.right {
        float: right;
        margin: 3px 0 0 10px;
    }
    nav.sub a:hover {
        color: rgba(255, 255, 255, 1);
        background: rgba(255, 255, 255, 0.2);
    }
    nav.sub a.dangerous:hover {
        color: rgba(255, 255, 255, 1);
        background: #fe8a71;
    }
    nav.sub form {
        width: 100%;
    }
    nav.sub .search {
        float: right;
        margin: 5px 0 0 20px;
        padding: 3px;
        width: 200px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
        background: rgba(255, 255, 255, 0.1);
        font-size: 100%;
    }
    nav.sub .search:focus {
        border: 1px solid rgba(255, 255, 255, 0.6);
        outline: none;
    }
    nav.sub .search::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

table.list {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}
    table.list tr:nth-child(n+2) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    table.list tbody tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    table.list th {
        color: #ccc;
        text-transform: uppercase;
        font-size: 90%;
        text-align: left;
        padding: 0 10px 5px 0;
    }
    table.list td {
        padding: 7px 10px 7px 0;
    }
    table.list td.name small {
        display: block;
        margin: 3px 0 0 0;
        color: rgba(0, 0, 0, 0.6);
    }
    table.list td.name .id {
        color: #777;
        font-size: 80%;
        margin-right: 4px;
    }
    table.list th.right,
    table.list td.right,
    table.list th.actions,
    table.list td.actions {
        text-align: right;
        padding-right: 0;
    }
    table.list td.actions a,
    .checklist-items .actions a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 120%;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 3px;
        margin-right: -4px;
    }
    table.list td.actions a:hover,
    .checklist-items .actions a:hover {
        border: 1px solid #12919D;
        color: #12919D;
    }

ul.messages {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 400px;
    max-width: 75%;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
    ul.messages li {
        margin: 2px 0 0 0;
        padding: 15px 15px;
        background: rgba(64, 164, 171, 0.7);
        color: white;
    }
    ul.messages li a {
        color: white;
        text-decoration: underline;
    }

section {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    padding: 0;
    margin: 0 20px 20px 0;
}
    section h2 {
        color: #12919D;
        font-weight: bold;
        font-size: 110%;
        padding: 0 0 4px 0;
        margin: 0 0 6px 0;
        border-bottom: 1px solid #9FA5A4;
    }

.empty {
    font-style: italic;
    color: #666;
}

/* Items */

tr.item {
}
    tr.item td.image {
        width: 50px;
    }
    tr.item .id {
        color: #777;
        margin-right: 5px;
        font-size: 75%;
    }
    tr.item .no-image {
        width: 50px;
        height: 50px;
        background: #eee;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        color: #ddd;
    }
    tr.item .description {
        font-size: 85%;
        color: #333;
        margin: 5px 0 0 0;
    }
    tr.item .labels {
        display: inline;
        margin: 0 0 0 7px;
        padding: 0;
        list-style-type: none;
    }
    tr.item .labels li {
        display: inline;
        margin: 0 5px 0 0;
        padding: 2px 5px;
        background: #12919D;
        color: white;
        border-radius: 3px;
        font-size: 80%;
    }

#details {
}
    #details dl {
        margin: 0;
    }
    #details dt {
        font-size: 80%;
        color: #778;
        margin: 10px 0 3px 0;
    }
    #details dt:first-of-type {
        margin-top: 10px;
    }
    #details dd {
        margin: 0 0 3px 0;
    }
    #details dd.token {
        margin-top: 5px;
    }

#location_history {
}
    #location_history .entry small {
        color: #555;
        float: right;
        margin: 0 0 0 15px;
    }

/* Devices */

span.token {
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
}
    span.token-placeholder {
        background: #ccc;
        color: #fff;
        border-radius: 3px;
        padding: 3px 100px;
        cursor: pointer;
        margin-top: 5px;
    }

.recent-read {
    display: block;
    height: 3em;
    overflow: hidden;
}
    .recent-read a {
        float: left;
    }
    .recent-read a:hover {
        text-decoration: underline;
    }
    .recent-read small {
        display: block;
        margin: 4px 0 0 0;
        color: #778;
    }
    .recent-read .present,
    .recent-read .not-present {
        float: right;
        color: #3da4ab;
        text-align: right;
    }
    .recent-read .not-present {
        color: #fe8a71;
    }
    .recent-read .rssi {
        font-size: 80%;
        vertical-align: middle;
        color: white;
        background:  #3da4ab;
        padding: 1px 3px;
        border-radius: 3px;
    }
    .recent-read .not-present .rssi {
        background:  #fe8a71;
    }

/* Locations */

.reparent .old {
    color: #555;
}
.reparent .new {
    font-weight: bold;
}

/* Checklists */

.checklist-locations {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

.checklist-items {
}
    .checklist-items > div {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        margin: 0 0 10px 0;
        padding: 10px 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    .checklist-items > div:hover {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    .checklist-items h4 {
        margin: 0 0 2px 0;
        padding: 0;
        font-size: 55%;
        color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
    }
    .checklist-items .name {
        float: left;
        width: 300px;
    }
    .checklist-items .labels {
        float: left;
        margin-right: 30px;
    }
    .checklist-items .question {
        float: left;
    }
    .checklist-items .heading {
        background: rgba(0, 0, 0, 0.1);
        font-weight: normal;
        font-size: 170%;
    }
    .checklist-items .heading h4 {
        font-size: 40%;
    }
    .checklist-items .quantity {
        font-size: 90%;
        color: rgba(0, 0, 0, 0.7);
    }
    .checklist-items .label {
        margin: 0 5px 0 0;
        padding: 2px 5px;
        background: #3da4ab;
        color: white;
        border-radius: 3px;
        font-size: 80%;
    }
    .checklist-items .actions {
        float: right;
        margin: -2px 0 -2px 0;
        font-size: 16px;
    }

.checklist-run-items {
}
    .checklist-run-items > div.heading {
        border: none;
        margin: 20px 0 10px 0;
        padding: 0 0;
        background: none;
        overflow: hidden;
        cursor: none;
        color: #222725;
        font-size: 120%;
        text-transform: uppercase;
    }
    .checklist-run-items > div.heading:hover {
        border: none;
    }
    .checklist-run-items > div.item {
        padding-left: 45px;
    }
    .checklist-run-items .status {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 15px;
        padding: 10px;
        background: #fe8a71;
        text-align: center;
        color: white;
    }
    .checklist-run-items .status.skipped {
        background: #777;
    }
    .checklist-run-items .status.checked {
        background: #3da4ab;
    }
    .checklist-run-items .real-item {
        display: block;
        font-size: 90%;
    }
    .checklist-run-items .location {
        font-size: 80%;
    }


/* Login */

div.login {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #12919D;
    color: white;
    text-align: center;
}
    div.login .logo {
        color: white;
        display: block;
        font-size: 300%;
        margin: 30px 0 40px 0;
        font-family: 'Roboto', sans-serif;
    }
    div.login form {
        display: inline-block;
        width: 400px;
    }
    div.login form label {
        color: white;
    }

/* Forms */

form {
    width: 600px;
}
    form.small {
        width: 100%;
    }
    form .control-group {
        margin: 0 0 15px 0;
    }
    form label {
        color: #0e9aa7;
        font-weight: bold;
    }
    form.small label {
        font-size: 90%;
    }
    form label .asteriskField {
        padding-left: 3px;
        color: #fe8a71;
    }
    form .controls {
        margin: 5px 0 0 0;
    }
    form .controls label {
        display: block;
        color: black;
        font-weight: normal;
        margin: 0 0 5px 0;
    }
    form .controls .help-block {
        margin: 3px 0 0 0;
        font-size: 80%;
        color: rgba(0, 0, 0, 0.7);
    }
    form .controls .help-block strong {
        color: #fe8a71;
    }
    form input,
    form select {
        font-size: 120%;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    form input[type=checkbox] {
        width: auto;
        margin: 0 5px 0 0;
    }
    form input::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
    form textarea {
        font-size: 100%;
        font-family: inherit;
        width: 100%;
        padding: 5px;
        line-height: 115%;
        box-sizing: border-box;
    }
    button,
    form .button {
        background: #3da4ab;
        color: #fff;
        padding: 7px 12px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    form button.dangerous {
        background: #fe8a71;
    }
    form .button.cancel {
        background: #4a4e4d;
    }
    form .buttons {
        text-align: right;
    }
    form .alert {
        color: white;
        background: rgba(254, 138, 113, 0.8);
        border: 1px solid rgba(254, 138, 113, 0.8);
        margin: 0 0 30px 0;
    }
    form .alert ul {
        list-style-type: none;
        margin: 10px 10px;
        padding: 0;
    }
    form .alert li {
        margin: 0 0 10px 0;
        padding: 0;
    }

/* Modals */

.modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
    .modal .container {
        width: 500px;
        margin: 100px auto 0 auto;
        padding: 0;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }
    .modal h3 {
        background: #12919D;
        color: white;
        margin: 0 0 5px 0;
        padding: 10px 15px;
        line-height: 1.4em;
        font-size: 110%;
    }
    .modal .close {
        float: right;
        font-size: 130%;
        color: rgba(255, 255, 255, 0.7);
    }
    .modal .content {
        margin: 0;
        padding: 15px 15px;
    }

/* Loading/saving spinners */

.ajax-status {
    float: right;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0 10px;
}
    .ajax-status i {
        display: inline-block;
        margin-right: 3px;
    }
