{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block title %}{{ location.name }} - Locations -{% endblock %}

{% block content %}

    <h1>{{ location.name }} <small>Location #{{ location.id }}</small></h1>

    <nav class="sub sub-light">
        <a href="{{ location.urls.items }}"><i class="fa fa-list" aria-hidden="true"></i> Items</a>
        <a href="{{ location.urls.clear }}"><i class="fa fa-recycle" aria-hidden="true"></i> Empty</a>
        <a href="{{ location.urls.delete }}" class="right dangerous"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        <a href="{{ location.urls.edit }}" class="right"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
    </nav>

    <section id="details">
        <h2>Details</h2>
        <dl>
            <dt>Name</dt>
            <dd>{{ location.name }}</dd>
            {% if location.description %}
                <dt>Description</dt>
                <dd>{{ location.description }}</dd>
            {% endif %}
            {% if location.notes %}
                <dt>Notes</dt>
                <dd>{{ location.notes }}</dd>
            {% endif %}
            {% if location.latitude and location.longitude %}
                <dt>Coordinates</dt>
                <dd>{{ location.latitude }}, {{ location.longitude }}</dd>
            {% endif %}
        </dl>
    </section>

{% endblock content %}
