{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Deleting {{ obj.name }} - {% endblock %}

{% block content %}

    <h1>Deleting: {{ obj.name }}</h1>

    <section>
        <form action="." method="POST" class="delete">
            {% csrf_token %}
            <p class="delete-warning">
                Are you sure you want to delete {{ noun }} {{ obj.name }}?
            </p>
            <a class="button cancel" href="javascript:history.back()">Cancel</a>
            <button class="dangerous">Delete</button>
        </form>
    </section>

{% endblock content %}
