<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}Listkeeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {% load static %}

    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />

    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="section-{{ section }}">

    {% block raw_content %}

    <header>
        <a href="/" class="logo"><b>rfid</b> inventory</a>
        <nav>
            <a href="/items/"{% if section == "items" %} class="selected"{% endif %}>Items</a>
            <a href="/locations/"{% if section == "locations" %} class="selected"{% endif %}>Locations</a>
            <a href="/devices/"{% if section == "devices" %} class="selected"{% endif %}>Devices</a>
        </nav>
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="content">
        {% block content %}
        {% endblock %}
        <div class="clearfix"></div>
    </div>

    {% endblock %}

</body>
</html>
