{% extends "base.html" %}

{% block content %}

    <nav class="sub">
        <a href="/items/create/"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Item</a>
    </nav>

    {% for item in items %}
        <div class="item">
            <a href="{{ item.urls.view }}"><span class="id">#{{ item.id }}</span> {{ item.name }}</a>
            <small>
                {% if item.location %}
                    <a href="{{ item.location.urls.items }}">{{ item.location.name }}</a>
                {% else %}
                    (no location)
                {% endif %}
            </small>
        </div>
    {% empty %}
        <div class="item empty">No items yet.</div>
    {% endfor %}

{% endblock content %}
