{% extends "base.html" %}

{% load imagekit %}

{% block content %}

    <nav class="sub">
        <a href="/items/create/"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Item</a>
        <form action="."><input name="search" class="search" placeholder="Search" value="{{ search }}"></form>
    </nav>

    <table class="list">
        <tr>
            <th></th>
            <th>Item</th>
            <th>Location</th>
            <th>Last Seen</th>
            <th class="actions">Actions</th>
        </tr>
        {% for item in items %}
        <tr class="item">
            <td class="image">
                {% if item.image %}
                    <img src="{{ item.image.small_thumbnail_url }}" width="50" height="50" />
                {% else %}
                    <div class="no-image">?</div>
                {% endif %}
            </td>
            <td class="name">
                <a href="{{ item.urls.view }}">
                    <span class="name">{{ item.name }}</span>
                </a>
                <ul class="labels">
                    {% for label in item.labels.all %}
                    <li>{{ label }}</li>
                    {% endfor %}
                </ul>
                <p class="description">{{ item.description }}</p>
            </td>
            <td class="location">
                {% if item.location %}
                    <a href="{{ item.location.urls.items }}">{{ item.location.name }}</a>
                {% else %}
                    (no location)
                {% endif %}
            </td>
            <td class="last_seen">
                {% if item.last_seen %}
                    {{ item.last_seen|timesince }}
                {% else %}
                    (never)
                {% endif %}
            </td>
            <td class="actions">
                <a href="{{ item.urls.view }}" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <a href="{{ item.urls.edit }}" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
        </tr>
    {% empty %}
        <tr class="empty"><td colspan="5">No items found.</td></tr>
    {% endfor %}
    </table>

{% endblock content %}
