{% extends "base.html" %}

{% load imagekit %}

{% block content %}

    <nav class="sub">
        <a href="/items/create/"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Item</a>
    </nav>

    {% for item in items %}
        <div class="item">
            <small class="right">
                {% if item.location %}
                    <a href="{{ item.location.urls.items }}">{{ item.location.name }}</a>
                {% else %}
                    (no location)
                {% endif %}
            </small>
            <a href="{{ item.urls.view }}">
                {% if item.image %}
                    {% generateimage "thumbnail-small" source=item.image %}
                {% else %}
                    <div class="no-image">?</div>
                {% endif %}
                <span class="name">{{ item.name }}</span>
                <ul class="labels">
                    {% for label in item.labels.all %}
                    <li>{{ label }}</li>
                    {% endfor %}
                </ul>
            </a>
            <p class="description">{{ item.description }}</p>
        </div>
    {% empty %}
        <div class="item empty">No items yet.</div>
    {% endfor %}

{% endblock content %}
