{% extends "base.html" %}

{% block content %}

    <nav class="sub">
        <a href="/devices/create/"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Device</a>
    </nav>

    {% for device in devices %}
        <div class="device">
            <a href="{{ device.urls.view }}"><span class="id">#{{ device.id }}</span> {{ device.name }}</a>
            <small>{{ device.get_mode_display }}</small>
        </div>
    {% empty %}
        <div class="device empty">No devices yet.</div>
    {% endfor %}

{% endblock content %}
