{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Deleting: {{ label.name }}</h1>

    <section>
        <form action="." method="POST" class="delete delete-label">
            {% csrf_token %}
            <p class="delete-warning">
                Are you sure you want to delete {{ label.name }}?
            </p>
            <a class="button cancel" href="{{ label.urls.view }}">Cancel</a>
            <button class="dangerous">Delete</button>
        </form>
    </section>

{% endblock content %}
